.matrix-rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.app.theme-dolbaeb .matrix-rain {
  opacity: 0.1;
}
